<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-6">

    <h1>Add new task here</h1>
    <form method="post">
{% csrf_token %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <div class="mb-3">
      <label for="heading" class="form-label">Headings</label>
      <input type="text" class="form-control" id="heading" name="heading">
    </div>
    <div class="mb-3">
      <label for="detail" class="form-label">Details</label>
      <input type="text" class="form-control" id="detail" name="detail">
    </div>
    <div class="mb-3">
      <label for="date" class="form-label">Date</label>
      <input type="date" class="form-control" id="date" name="date">
      <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    </div>
    </div>
    </div>
  </body>
</html>
